
<div class= "animated bounce infinite">
<div class='welcome'>
<h1>Welcome to the Uckerbergs' Acebook</h1>
<p><%if current_account%>Hi <%=current_account.username%>! Hope you have a great time! <%end%></p> <br>
<% if account_signed_in? %>

<%= link_to 'My Posts', controller: 'posts' %>
<%= link_to 'Sign Out', destroy_account_session_path, method: :delete %>

<% else %>
     
 <%= link_to 'Sign up', new_account_registration_path, class:'btn btn-success'%>
 <%= link_to 'Sign in', new_account_session_path, class:'btn btn-primary' %>

 <% end %>

  </div>
</div>

