<div id= "postform">
<%= form_with model: @post, local: true do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <strong><u><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</u></strong>
      </h2>
        <% @post.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
    </div>
  <% end %>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
</div>